In [22]:
import numpy as np
import pandas as pd
import seaborn as sns

In [23]:
df = pd.read_csv('telecom_churn_data.csv')

In [24]:
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

**Data Cleaning Steps:**
- Mobile No should be unique
- arpu_6, arpu_7 are important

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [26]:
print(list(df.columns))

['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'last_date_of_month_9', 'arpu_6', 'arpu_7', 'arpu_8', 'arpu_9', 'onnet_mou_6', 'onnet_mou_7', 'onnet_mou_8', 'onnet_mou_9', 'offnet_mou_6', 'offnet_mou_7', 'offnet_mou_8', 'offnet_mou_9', 'roam_ic_mou_6', 'roam_ic_mou_7', 'roam_ic_mou_8', 'roam_ic_mou_9', 'roam_og_mou_6', 'roam_og_mou_7', 'roam_og_mou_8', 'roam_og_mou_9', 'loc_og_t2t_mou_6', 'loc_og_t2t_mou_7', 'loc_og_t2t_mou_8', 'loc_og_t2t_mou_9', 'loc_og_t2m_mou_6', 'loc_og_t2m_mou_7', 'loc_og_t2m_mou_8', 'loc_og_t2m_mou_9', 'loc_og_t2f_mou_6', 'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8', 'loc_og_t2f_mou_9', 'loc_og_t2c_mou_6', 'loc_og_t2c_mou_7', 'loc_og_t2c_mou_8', 'loc_og_t2c_mou_9', 'loc_og_mou_6', 'loc_og_mou_7', 'loc_og_mou_8', 'loc_og_mou_9', 'std_og_t2t_mou_6', 'std_og_t2t_mou_7', 'std_og_t2t_mou_8', 'std_og_t2t_mou_9', 'std_og_t2m_mou_6', 'std_og_t2m_mou_7', 'std_og_t2m_mou_8', 'std_og_t2m_mou_9', 'std_og_t2f_mou_6', 'std_og_t2f_mou_7', 'std_og_t2f_mou_8', 'std_og_t2f_mou_9', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_og_mou_6', 'std_og_mou_7', 'std_og_mou_8', 'std_og_mou_9', 'isd_og_mou_6', 'isd_og_mou_7', 'isd_og_mou_8', 'isd_og_mou_9', 'spl_og_mou_6', 'spl_og_mou_7', 'spl_og_mou_8', 'spl_og_mou_9', 'og_others_6', 'og_others_7', 'og_others_8', 'og_others_9', 'total_og_mou_6', 'total_og_mou_7', 'total_og_mou_8', 'total_og_mou_9', 'loc_ic_t2t_mou_6', 'loc_ic_t2t_mou_7', 'loc_ic_t2t_mou_8', 'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_6', 'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8', 'loc_ic_t2m_mou_9', 'loc_ic_t2f_mou_6', 'loc_ic_t2f_mou_7', 'loc_ic_t2f_mou_8', 'loc_ic_t2f_mou_9', 'loc_ic_mou_6', 'loc_ic_mou_7', 'loc_ic_mou_8', 'loc_ic_mou_9', 'std_ic_t2t_mou_6', 'std_ic_t2t_mou_7', 'std_ic_t2t_mou_8', 'std_ic_t2t_mou_9', 'std_ic_t2m_mou_6', 'std_ic_t2m_mou_7', 'std_ic_t2m_mou_8', 'std_ic_t2m_mou_9', 'std_ic_t2f_mou_6', 'std_ic_t2f_mou_7', 'std_ic_t2f_mou_8', 'std_ic_t2f_mou_9', 'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8', 'std_ic_t2o_mou_9', 'std_ic_mou_6', 'std_ic_mou_7', 'std_ic_mou_8', 'std_ic_mou_9', 'total_ic_mou_6', 'total_ic_mou_7', 'total_ic_mou_8', 'total_ic_mou_9', 'spl_ic_mou_6', 'spl_ic_mou_7', 'spl_ic_mou_8', 'spl_ic_mou_9', 'isd_ic_mou_6', 'isd_ic_mou_7', 'isd_ic_mou_8', 'isd_ic_mou_9', 'ic_others_6', 'ic_others_7', 'ic_others_8', 'ic_others_9', 'total_rech_num_6', 'total_rech_num_7', 'total_rech_num_8', 'total_rech_num_9', 'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8', 'total_rech_amt_9', 'max_rech_amt_6', 'max_rech_amt_7', 'max_rech_amt_8', 'max_rech_amt_9', 'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8', 'date_of_last_rech_9', 'last_day_rch_amt_6', 'last_day_rch_amt_7', 'last_day_rch_amt_8', 'last_day_rch_amt_9', 'date_of_last_rech_data_6', 'date_of_last_rech_data_7', 'date_of_last_rech_data_8', 'date_of_last_rech_data_9', 'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'total_rech_data_9', 'max_rech_data_6', 'max_rech_data_7', 'max_rech_data_8', 'max_rech_data_9', 'count_rech_2g_6', 'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9', 'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8', 'count_rech_3g_9', 'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'av_rech_amt_data_9', 'vol_2g_mb_6', 'vol_2g_mb_7', 'vol_2g_mb_8', 'vol_2g_mb_9', 'vol_3g_mb_6', 'vol_3g_mb_7', 'vol_3g_mb_8', 'vol_3g_mb_9', 'arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8', 'arpu_2g_9', 'night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8', 'night_pck_user_9', 'monthly_2g_6', 'monthly_2g_7', 'monthly_2g_8', 'monthly_2g_9', 'sachet_2g_6', 'sachet_2g_7', 'sachet_2g_8', 'sachet_2g_9', 'monthly_3g_6', 'monthly_3g_7', 'monthly_3g_8', 'monthly_3g_9', 'sachet_3g_6', 'sachet_3g_7', 'sachet_3g_8', 'sachet_3g_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9', 'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g']

In [27]:
df['arpu_6'].head(20)

0      197.385
1       34.047
2      167.690
3      221.338
4      261.636
5       50.258
6      429.023
7     1069.180
8      378.721
9      119.518
10       0.400
11     298.126
12      48.570
13     492.846
14      63.611
15      31.000
16     430.975
17     690.008
18       4.000
19     163.430
Name: arpu_6, dtype: float64

In [28]:
null_df = pd.DataFrame(df.isnull().sum()/len(df.index)*100,columns=['C'])

In [29]:
null_df.sort_values(by='C',ascending=False).head(50)

                                  C
arpu_3g_6                 74.846748
night_pck_user_6          74.846748
total_rech_data_6         74.846748
arpu_2g_6                 74.846748
max_rech_data_6           74.846748
fb_user_6                 74.846748
av_rech_amt_data_6        74.846748
date_of_last_rech_data_6  74.846748
count_rech_2g_6           74.846748
count_rech_3g_6           74.846748
date_of_last_rech_data_7  74.428744
total_rech_data_7         74.428744
fb_user_7                 74.428744
max_rech_data_7           74.428744
night_pck_user_7          74.428744
count_rech_2g_7           74.428744
av_rech_amt_data_7        74.428744
arpu_2g_7                 74.428744
count_rech_3g_7           74.428744
arpu_3g_7                 74.428744
total_rech_data_9         74.077741
count_rech_3g_9           74.077741
fb_user_9                 74.077741
max_rech_data_9           74.077741
arpu_3g_9                 74.077741
date_of_last_rech_data_9  74.077741
night_pck_user_9          74.077741
arpu_2g_9                 74.077741
count_rech_2g_9           74.077741
av_rech_amt_data_9        74.077741
total_rech_data_8         73.660737
arpu_3g_8                 73.660737
fb_user_8                 73.660737
night_pck_user_8          73.660737
av_rech_amt_data_8        73.660737
max_rech_data_8           73.660737
count_rech_3g_8           73.660737
arpu_2g_8                 73.660737
count_rech_2g_8           73.660737
date_of_last_rech_data_8  73.660737
ic_others_9                7.745077
std_og_mou_9               7.745077
std_og_t2c_mou_9           7.745077
isd_ic_mou_9               7.745077
std_ic_mou_9               7.745077
isd_og_mou_9               7.745077
spl_og_mou_9               7.745077
spl_ic_mou_9               7.745077
og_others_9                7.745077
loc_ic_t2t_mou_9           7.745077

In [30]:
#Find columns having arpu
def fun(variable): 
    letters = 'arpu' 
    if (letters in variable): 
        return True
    else: 
        return False
filtered = list(filter(fun, list(df.columns)))

In [31]:
print(filtered)

['arpu_6', 'arpu_7', 'arpu_8', 'arpu_9', 'arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8', 'arpu_2g_9']

In [32]:
#Now checking nulls for the arpu columns
df[filtered].isnull().sum()/len(df.index)*100

arpu_6        0.000000
arpu_7        0.000000
arpu_8        0.000000
arpu_9        0.000000
arpu_3g_6    74.846748
arpu_3g_7    74.428744
arpu_3g_8    73.660737
arpu_3g_9    74.077741
arpu_2g_6    74.846748
arpu_2g_7    74.428744
arpu_2g_8    73.660737
arpu_2g_9    74.077741
dtype: float64

In [33]:
df.loc[(df['arpu_3g_6'].isnull()) | (df['arpu_3g_7'].isnull()),filtered]

,arpu_6,arpu_7,arpu_8,arpu_9,arpu_3g_6,arpu_3g_7,arpu_3g_8,arpu_3g_9,arpu_2g_6,arpu_2g_7,arpu_2g_8,arpu_2g_9
1,34.047,355.074,268.321,86.285,NaN,0.0,0.0,NaN,NaN,28.61,7.6,NaN
2,167.690,189.058,210.226,290.714,NaN,NaN,NaN,2.84,NaN,NaN,NaN,0.0
3,221.338,251.102,508.054,389.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,261.636,309.876,238.174,163.426,0.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN
5,50.258,58.810,83.386,170.826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,8.440,0.000,80.387,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99994,18.471,69.161,57.530,29.950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99995,112.201,77.811,79.081,140.835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,229.187,0.000,0.000,0.000,141.48,NaN,NaN,NaN,2.40,NaN,NaN,NaN
99998,687.065,0.000,0.000,0.000,11.40,NaN,NaN,NaN,18.68,NaN,NaN,NaN

**We will be using the columns: arpu_6, arpu_7, arpu_8, arpu_9 to detect churn.**<br><br>
**Hence, the columns such as: arpu_3g & arpu_2g can be dropped.**

In [34]:
#df = df.drop(['arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8', 'arpu_2g_9'],axis = 1)

In [35]:
df.shape

(99999, 226)

In [36]:
cols_list = ['arpu_3g_6','arpu_3g_7','arpu_2g_6','arpu_2g_7']
df[cols_list] = df[cols_list].fillna(0)

In [44]:
df[filtered].isnull().sum()/len(df.index)*100

arpu_6        0.000000
arpu_7        0.000000
arpu_8        0.000000
arpu_9        0.000000
arpu_3g_6     0.000000
arpu_3g_7     0.000000
arpu_3g_8    55.350000
arpu_3g_9    57.203333
arpu_2g_6     0.000000
arpu_2g_7     0.000000
arpu_2g_8    55.350000
arpu_2g_9    57.203333
dtype: float64

In [37]:
#Creating a derived column: arpu_6_7 having average of 6 & 7
df['total_arpu_6_7'] = (df['arpu_6']+df['arpu_7']+df['arpu_3g_6']+df['arpu_3g_7']+df['arpu_2g_6']+df['arpu_2g_7'])/6

In [38]:
high_val = df.total_arpu_6_7.quantile(0.7)

In [39]:
df['highvalcust'] = df['total_arpu_6_7'].apply(lambda x: 1 if x>high_val else 0)

In [40]:
df[['highvalcust','total_arpu_6_7']]

       highvalcust  total_arpu_6_7
0                1      210.146833
1                0       69.621833
2                0       59.458000
3                0       78.740000
4                0       95.252000
...            ...             ...
99994            0       14.605333
99995            0       31.668667
99996            0       62.177833
99997            1      283.402833
99998            1      119.524167

[99999 rows x 2 columns]

In [41]:
df['highvalcust'].value_counts()

0    69999
1    30000
Name: highvalcust, dtype: int64

In [42]:
df = df[df['highvalcust']==1]

In [43]:
df.shape

(30000, 228)

In [41]:
#Check nulls again

In [26]:
null_df = pd.DataFrame(df.isnull().sum()/len(df.index)*100,columns=['C'])

In [27]:
null_df.sort_values(by='C',ascending=False).head(50)

                                  C
night_pck_user_9          61.560000
count_rech_3g_9           61.560000
max_rech_data_9           61.560000
total_rech_data_9         61.560000
count_rech_2g_9           61.560000
fb_user_9                 61.560000
date_of_last_rech_data_9  61.560000
av_rech_amt_data_9        61.560000
av_rech_amt_data_6        61.510000
total_rech_data_6         61.510000
night_pck_user_6          61.510000
count_rech_3g_6           61.510000
date_of_last_rech_data_6  61.510000
count_rech_2g_6           61.510000
fb_user_6                 61.510000
max_rech_data_6           61.510000
total_rech_data_7         60.736667
date_of_last_rech_data_7  60.736667
max_rech_data_7           60.736667
fb_user_7                 60.736667
night_pck_user_7          60.736667
count_rech_2g_7           60.736667
count_rech_3g_7           60.736667
av_rech_amt_data_7        60.736667
total_rech_data_8         60.346667
count_rech_2g_8           60.346667
night_pck_user_8          60.346667
count_rech_3g_8           60.346667
fb_user_8                 60.346667
av_rech_amt_data_8        60.346667
date_of_last_rech_data_8  60.346667
max_rech_data_8           60.346667
ic_others_9                5.890000
std_ic_t2f_mou_9           5.890000
std_og_t2t_mou_9           5.890000
loc_ic_mou_9               5.890000
loc_ic_t2m_mou_9           5.890000
std_og_t2m_mou_9           5.890000
isd_ic_mou_9               5.890000
og_others_9                5.890000
loc_og_mou_9               5.890000
std_ic_t2o_mou_9           5.890000
std_og_t2c_mou_9           5.890000
spl_ic_mou_9               5.890000
spl_og_mou_9               5.890000
std_og_mou_9               5.890000
std_og_t2f_mou_9           5.890000
std_ic_t2m_mou_9           5.890000
roam_ic_mou_9              5.890000
loc_og_t2t_mou_9           5.890000

**Creating the churn column**

total_ic_mou_9

total_og_mou_9

vol_2g_mb_9

vol_3g_mb_9

In [46]:
#Checking the nulls
df[['total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']].isnull().sum()/len(df.index)*100

total_ic_mou_9    0.0
total_og_mou_9    0.0
vol_2g_mb_9       0.0
vol_3g_mb_9       0.0
dtype: float64

In [47]:
#Checking the nulls
df[['total_ic_mou_8','total_og_mou_8','vol_2g_mb_8','vol_3g_mb_8']].isnull().sum()/len(df.index)*100

total_ic_mou_8    0.0
total_og_mou_8    0.0
vol_2g_mb_8       0.0
vol_3g_mb_8       0.0
dtype: float64

In [51]:
#Describe these columns
df[['total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']].describe()

       total_ic_mou_9  total_og_mou_9   vol_2g_mb_9   vol_3g_mb_9
count    30000.000000    30000.000000  30000.000000  30000.000000
mean       273.070819      536.120328     66.682830    323.138752
std        361.840941      658.521043    247.681724    942.259636
min          0.000000        0.000000      0.000000      0.000000
25%         54.780000       88.037500      0.000000      0.000000
50%        168.605000      347.495000      0.000000      0.000000
75%        354.787500      735.982500     14.392500    184.875000
max       7785.730000    11140.110000   8993.950000  39221.270000

In [52]:
df['total_usage_9'] = df['total_ic_mou_9']+df['total_og_mou_9']+df['vol_2g_mb_9']+df['vol_3g_mb_9']

In [53]:
df['churn'] = df['total_usage_9'].apply(lambda x: 0 if x>0 else 1)

In [54]:
print(df[['total_ic_mou_9','total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9','churn']])

       total_ic_mou_9  total_og_mou_9  vol_2g_mb_9  vol_3g_mb_9  churn
0                0.00            0.00         0.00         0.00      1
7                0.00            0.00         0.00         0.00      1
8               34.91          142.18         0.00         0.00      0
13             631.86          446.09         0.00         0.00      0
16             334.56          255.74         0.00         0.00      0
...               ...             ...          ...          ...    ...
99982           98.93           16.64         5.72       127.51      0
99986          547.11         1095.24         9.14       941.48      0
99988          265.84          182.16         0.05       393.34      0
99997            2.21            0.00        85.67      4177.14      0
99998            0.00            0.00         0.00         0.00      1

[30000 rows x 5 columns]

In [55]:
df['churn'].value_counts()

0    27310
1     2690
Name: churn, dtype: int64

In [ ]:
#Pie chart

In [62]:
text = '_9'
filtered_9 = list(filter(lambda x: True if text in x else False,list(df.columns)))

In [63]:
filtered_9

['last_date_of_month_9',
 'arpu_9',
 'onnet_mou_9',
 'offnet_mou_9',
 'roam_ic_mou_9',
 'roam_og_mou_9',
 'loc_og_t2t_mou_9',
 'loc_og_t2m_mou_9',
 'loc_og_t2f_mou_9',
 'loc_og_t2c_mou_9',
 'loc_og_mou_9',
 'std_og_t2t_mou_9',
 'std_og_t2m_mou_9',
 'std_og_t2f_mou_9',
 'std_og_t2c_mou_9',
 'std_og_mou_9',
 'isd_og_mou_9',
 'spl_og_mou_9',
 'og_others_9',
 'total_og_mou_9',
 'loc_ic_t2t_mou_9',
 'loc_ic_t2m_mou_9',
 'loc_ic_t2f_mou_9',
 'loc_ic_mou_9',
 'std_ic_t2t_mou_9',
 'std_ic_t2m_mou_9',
 'std_ic_t2f_mou_9',
 'std_ic_t2o_mou_9',
 'std_ic_mou_9',
 'total_ic_mou_9',
 'spl_ic_mou_9',
 'isd_ic_mou_9',
 'ic_others_9',
 'total_rech_num_9',
 'total_rech_amt_9',
 'max_rech_amt_9',
 'date_of_last_rech_9',
 'last_day_rch_amt_9',
 'date_of_last_rech_data_9',
 'total_rech_data_9',
 'max_rech_data_9',
 'count_rech_2g_9',
 'count_rech_3g_9',
 'av_rech_amt_data_9',
 'vol_2g_mb_9',
 'vol_3g_mb_9',
 'arpu_3g_9',
 'arpu_2g_9',
 'night_pck_user_9',
 'monthly_2g_9',
 'sachet_2g_9',
 'monthly_3g_9',
 'sachet_3g_9',
 'fb_user_9',
 'total_usage_9']

In [64]:
#Dropping the columns for September
df = df.drop(filtered_9,axis = 1)

In [65]:
filtered_92 = list(filter(lambda x: True if text in x else False,list(df.columns)))

In [66]:
filtered_92

[]

In [67]:
#No of columns
df.shape

(30000, 175)

**Understanding all the columns in filtered_9 but for 6,7,8 & then find:**
1. What will be the derived columns? 

**Other strategies:**
1. Non date columns: We can find average for 6 & 7, and then subtract from 8 to see change in behaviour
2. Date columns: Find no of days from end of september to last recharge, between two recharges

In [70]:
#Categorical columns
columns_list=df.select_dtypes(include=['object']).columns.to_list()
print(columns_list)

['last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8', 'date_of_last_rech_data_6', 'date_of_last_rech_data_7', 'date_of_last_rech_data_8']

In [56]:
#Null value treatment

In [57]:
#EDA

In [ ]:
#Data Imbalance Treatment: Rahul

In [58]:
#Prepare Model 1: without PCA: Sumiran

In [ ]:
#Prepare Model 2: with PCA